Import Dependencies

In [47]:
import pandas as pd
from sqlalchemy import create_engine
from config import password

Use Pandas to read CSV File #1 & store as dataframe

In [48]:
csv_file = "AB_NYC_2019.csv"
NYC_Data_df = pd.read_csv(csv_file)
NYC_Data_df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

Inspect the data above and edit/transform accordingly

In [49]:
#rename column headers for cleaner comparison of data (NYC vs. Boston) 
NYC_Data_df.rename(columns={'id': 'listing_id', 'name': 'summary', 'last_review': 'date'}, inplace=True)
NYC_Data_df.head()

,listing_id,summary,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,date,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [50]:
#show only pertinent information for comparison to Boston data 
Cleaned_NYC_data_df = NYC_Data_df[['listing_id', 'reviews_per_month', 'summary', 'date', 'price']].copy()
Cleaned_NYC_data_df.head()

,listing_id,reviews_per_month,summary,date,price
0,2539,0.21,Clean & quiet apt home by the park,2018-10-19,149
1,2595,0.38,Skylit Midtown Castle,2019-05-21,225
2,3647,NaN,THE VILLAGE OF HARLEM....NEW YORK !,NaN,150
3,3831,4.64,Cozy Entire Floor of Brownstone,2019-07-05,89
4,5022,0.10,Entire Apt: Spacious Studio/Loft by central park,2018-11-19,80

Use Pandas to read CSV File #2

In [51]:
csv_file = "calendar.csv"
Boston_Cal_df = pd.read_csv(csv_file)
Boston_Cal_df.head()

   listing_id        date available price
0    12147973  2017-09-05         f   NaN
1    12147973  2017-09-04         f   NaN
2    12147973  2017-09-03         f   NaN
3    12147973  2017-09-02         f   NaN
4    12147973  2017-09-01         f   NaN

Use Pandas to read CSV File #3

In [52]:
csv_file = "listings.csv"
Boston_Listing_df = pd.read_csv(csv_file)
Boston_Listing_df.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,12147973,https://www.airbnb.com/rooms/12147973,20160906204935,2016-09-07,Sunny Bungalow in the City,"Cozy, sunny, family home. Master bedroom high...",The house has an open and cozy feel at the sam...,"Cozy, sunny, family home. Master bedroom high...",none,"Roslindale is quiet, convenient and friendly. ...",...,NaN,f,NaN,NaN,f,moderate,f,f,1,NaN
1,3075044,https://www.airbnb.com/rooms/3075044,20160906204935,2016-09-07,Charming room in pet friendly apt,Charming and quiet room in a second floor 1910...,Small but cozy and quite room with a full size...,Charming and quiet room in a second floor 1910...,none,"The room is in Roslindale, a diverse and prima...",...,9.0,f,NaN,NaN,t,moderate,f,f,1,1.30
2,6976,https://www.airbnb.com/rooms/6976,20160906204935,2016-09-07,Mexican Folk Art Haven in Boston,"Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...",none,The LOCATION: Roslindale is a safe and diverse...,...,10.0,f,NaN,NaN,f,moderate,t,f,1,0.47
3,1436513,https://www.airbnb.com/rooms/1436513,20160906204935,2016-09-07,Spacious Sunny Bedroom Suite in Historic Home,Come experience the comforts of home away from...,Most places you find in Boston are small howev...,Come experience the comforts of home away from...,none,Roslindale is a lovely little neighborhood loc...,...,10.0,f,NaN,NaN,f,moderate,f,f,1,1.00
4,7651065,https://www.airbnb.com/rooms/7651065,20160906204935,2016-09-07,Come Home to Boston,"My comfy, clean and relaxing home is one block...","Clean, attractive, private room, one block fro...","My comfy, clean and relaxing home is one block...",none,"I love the proximity to downtown, the neighbor...",...,10.0,f,NaN,NaN,f,flexible,f,f,1,2.25

In [53]:
#rename 'id' to 'listing id' for cleaner table comparison 
Boston_Listing_df.rename(columns={'id': 'listing_id'}, inplace=True)
Boston_Listing_df.head()

,listing_id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,12147973,https://www.airbnb.com/rooms/12147973,20160906204935,2016-09-07,Sunny Bungalow in the City,"Cozy, sunny, family home. Master bedroom high...",The house has an open and cozy feel at the sam...,"Cozy, sunny, family home. Master bedroom high...",none,"Roslindale is quiet, convenient and friendly. ...",...,NaN,f,NaN,NaN,f,moderate,f,f,1,NaN
1,3075044,https://www.airbnb.com/rooms/3075044,20160906204935,2016-09-07,Charming room in pet friendly apt,Charming and quiet room in a second floor 1910...,Small but cozy and quite room with a full size...,Charming and quiet room in a second floor 1910...,none,"The room is in Roslindale, a diverse and prima...",...,9.0,f,NaN,NaN,t,moderate,f,f,1,1.30
2,6976,https://www.airbnb.com/rooms/6976,20160906204935,2016-09-07,Mexican Folk Art Haven in Boston,"Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...",none,The LOCATION: Roslindale is a safe and diverse...,...,10.0,f,NaN,NaN,f,moderate,t,f,1,0.47
3,1436513,https://www.airbnb.com/rooms/1436513,20160906204935,2016-09-07,Spacious Sunny Bedroom Suite in Historic Home,Come experience the comforts of home away from...,Most places you find in Boston are small howev...,Come experience the comforts of home away from...,none,Roslindale is a lovely little neighborhood loc...,...,10.0,f,NaN,NaN,f,moderate,f,f,1,1.00
4,7651065,https://www.airbnb.com/rooms/7651065,20160906204935,2016-09-07,Come Home to Boston,"My comfy, clean and relaxing home is one block...","Clean, attractive, private room, one block fro...","My comfy, clean and relaxing home is one block...",none,"I love the proximity to downtown, the neighbor...",...,10.0,f,NaN,NaN,f,flexible,f,f,1,2.25

Use Pandas to read CSV File #4

In [54]:
csv_file = "reviews.csv"
Boston_Rev_df = pd.read_csv(csv_file)
Boston_Rev_df.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,1178162,4724140,2013-05-21,4298113,Olivier,My stay at islam's place was really cool! Good...
1,1178162,4869189,2013-05-29,6452964,Charlotte,Great location for both airport and city - gre...
2,1178162,5003196,2013-06-06,6449554,Sebastian,We really enjoyed our stay at Islams house. Fr...
3,1178162,5150351,2013-06-15,2215611,Marine,The room was nice and clean and so were the co...
4,1178162,5171140,2013-06-16,6848427,Andrew,Great location. Just 5 mins walk from the Airp...

In [55]:
#drop 'id' column - irrelevant, we will use listing_id for comparison
Boston_Rev_df.drop('id', axis=1, inplace=True)
Boston_Rev_df.head()

,listing_id,date,reviewer_id,reviewer_name,comments
0,1178162,2013-05-21,4298113,Olivier,My stay at islam's place was really cool! Good...
1,1178162,2013-05-29,6452964,Charlotte,Great location for both airport and city - gre...
2,1178162,2013-06-06,6449554,Sebastian,We really enjoyed our stay at Islams house. Fr...
3,1178162,2013-06-15,2215611,Marine,The room was nice and clean and so were the co...
4,1178162,2013-06-16,6848427,Andrew,Great location. Just 5 mins walk from the Airp...

In [56]:
# Merge Boston data (dataframes) into a single dataframe - Part 1
Boston_Data_df = pd.merge(Boston_Listing_df,Boston_Rev_df, how="inner")
Boston_Data_df.head(4)

,listing_id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month,date,reviewer_id,reviewer_name,comments
0,3075044,https://www.airbnb.com/rooms/3075044,20160906204935,2016-09-07,Charming room in pet friendly apt,Charming and quiet room in a second floor 1910...,Small but cozy and quite room with a full size...,Charming and quiet room in a second floor 1910...,none,"The room is in Roslindale, a diverse and prima...",...,t,moderate,f,f,1,1.3,2014-06-01,9645972,Dmitrii,Andrea is a great host. Neighborhood is wonder...
1,3075044,https://www.airbnb.com/rooms/3075044,20160906204935,2016-09-07,Charming room in pet friendly apt,Charming and quiet room in a second floor 1910...,Small but cozy and quite room with a full size...,Charming and quiet room in a second floor 1910...,none,"The room is in Roslindale, a diverse and prima...",...,t,moderate,f,f,1,1.3,2014-06-06,12020681,Paola,We had a great time at Andrea's place. He is v...
2,3075044,https://www.airbnb.com/rooms/3075044,20160906204935,2016-09-07,Charming room in pet friendly apt,Charming and quiet room in a second floor 1910...,Small but cozy and quite room with a full size...,Charming and quiet room in a second floor 1910...,none,"The room is in Roslindale, a diverse and prima...",...,t,moderate,f,f,1,1.3,2014-06-30,8165047,Jaydee,Adrea was very welcoming and flexible to our n...
3,3075044,https://www.airbnb.com/rooms/3075044,20160906204935,2016-09-07,Charming room in pet friendly apt,Charming and quiet room in a second floor 1910...,Small but cozy and quite room with a full size...,Charming and quiet room in a second floor 1910...,none,"The room is in Roslindale, a diverse and prima...",...,t,moderate,f,f,1,1.3,2014-09-18,21319433,Anthony,Andrea made us feel welcome because he made th...

In [57]:
# Merge Boston data (dataframes) into a single dataframe - Part 2
New_Boston_Data_df = pd.merge(Boston_Data_df,Boston_Cal_df, how="inner")
New_Boston_Data_df.head(4)

,listing_id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month,date,reviewer_id,reviewer_name,comments,available
0,3905508,https://www.airbnb.com/rooms/3905508,20160906204935,2016-09-07,Home Away from Home,Comfort and charm in private one-bedroom apart...,"Sparkling clean 3-room, 450 square foot apart...",Comfort and charm in private one-bedroom apart...,none,Diverse. Residential yet urban. Quiet safe nei...,...,flexible,f,f,1,1.68,2016-09-06,26543522,Stacie,I cannot say enough good things about Margaret...,t
1,1200502,https://www.airbnb.com/rooms/1200502,20160906204935,2016-09-07,Charming Garden Studio In South End,"An excellent hotel alternative, the unit is si...","An excellent hotel alternative, the unit is si...","An excellent hotel alternative, the unit is si...",none,Quiet residential area in the heart of the cit...,...,strict,f,f,1,0.96,2016-09-06,27236196,Aleksandra,The condo was clean in a nice neighborhood. It...,t

In [58]:
#show only pertinent information - filter data
Cleaned_Boston_data_df = Boston_Data_df[['listing_id', 'reviews_per_month', 'summary', 'date', 'price']].copy()
Cleaned_Boston_data_df.head()

,listing_id,reviews_per_month,summary,date,price
0,3075044,1.3,Charming and quiet room in a second floor 1910...,2014-06-01,$65.00
1,3075044,1.3,Charming and quiet room in a second floor 1910...,2014-06-06,$65.00
2,3075044,1.3,Charming and quiet room in a second floor 1910...,2014-06-30,$65.00
3,3075044,1.3,Charming and quiet room in a second floor 1910...,2014-09-18,$65.00
4,3075044,1.3,Charming and quiet room in a second floor 1910...,2014-09-27,$65.00

Connect Local Database

In [59]:
engine = create_engine(f'postgresql://postgres:{password}@localhost:5432/AirBNB_db')
connection = engine.connect()

In [60]:
engine.table_names()

<ipython-input-60-d72bc75a6b62>:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['boston_airbnb_data', 'nyc_airbnb_data']

In [61]:
Cleaned_NYC_data_df.to_sql(name='nyc_airbnb_data', con=engine, if_exists='append', index=False)

In [62]:
Cleaned_Boston_data_df.to_sql(name='boston_airbnb_data', con=engine, if_exists='append', index=False)

In [63]:
#Confirm data has been added by querying the nyc_airbnb_data table
pd.read_sql_query('select * from nyc_airbnb_data', con=engine).head()

,reviews_per_month,summary,date,listing_id,price
0,0.0,Clean & quiet apt home by the park,2018-10-19,NaN,None
1,0.0,Skylit Midtown Castle,2019-05-21,NaN,None
2,NaN,THE VILLAGE OF HARLEM....NEW YORK !,None,NaN,None
3,5.0,Cozy Entire Floor of Brownstone,2019-07-05,NaN,None
4,0.0,Entire Apt: Spacious Studio/Loft by central park,2018-11-19,NaN,None

In [64]:
#Confirm data has been added by querying the boston_airbnb_data table
pd.read_sql_query('select * from boston_airbnb_data', con=engine).head()

,reviews_per_month,summary,date,listing_id,price
0,1,Charming and quiet room in a second floor 1910...,2014-06-01,3075044,$65.00
1,1,Charming and quiet room in a second floor 1910...,2014-06-06,3075044,$65.00
2,1,Charming and quiet room in a second floor 1910...,2014-06-30,3075044,$65.00
3,1,Charming and quiet room in a second floor 1910...,2014-09-18,3075044,$65.00
4,1,Charming and quiet room in a second floor 1910...,2014-09-27,3075044,$65.00

Data has successfully been added to the Database Tables Created in PGadmin